{% extends "base.html" %} {% block head %} {{ super() }}
<title>{% block title %}Inicio{% endblock %}</title>
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style/home.css')}}">
<style type="text/css">
    .glyphicon-menu-hamburger {
        color: white;
    }
</style> {% endblock %} {% block body %} {% block nav %}
<nav class="navbar navbar-inverse header">
    <div class="container-fluid">
        <div class="navbar-header">
            <span class="glyphicon glyphicon-menu-hamburger"></span><a class="navbar-brand" href="{{ url_for('main.home') }}"><span class="glyphicon glyphicon-check"></span>&nbsp;TaskApp</a>
        </div>
        <ul class="nav navbar-nav navbar-right" role="tablist">
            <li class="opc_tabs active">
                <a href="{{ url_for('auth.login') }}">
                    <span class="glyphicon glyphicon-log-out"></span>&nbsp;&nbsp;Cerrar Sesión
                </a>
            </li>
        </ul>
    </div>
</nav>
{% endblock %} {% for message in get_flashed_messages() %}
<div class="alert alert-info alert-dismissible" id="alert-info">
    <button type="button" class="close" data-dismiss="alert">
                &times;
            </button> {{message}}
</div>
{% endfor %} {% endblock %}