{% extends "base.html" %} {% block head %} {{ super() }}
<title>{% block title %}Inicio de Sesión{% endblock %}</title>
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style/login.css')}}"> {% endblock %} {% block body %} {% block nav %}
<nav class="navbar navbar-inverse header">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="{{ url_for('auth.login') }}"><span class="glyphicon glyphicon-check"></span>&nbsp;TaskApp</a>
        </div>
        <ul class="nav navbar-nav navbar-right" role="tablist">
            <li class="opc_tabs">
                <a href="#signup" data-toggle="tab">
                    <span class="glyphicon glyphicon-user"></span>&nbsp;&nbsp;Registrarse
                </a>
            </li>
            <li class="opc_tabs active">
                <a href="#login" class="active" data-toggle="tab">
                    <span class="glyphicon glyphicon-log-in"></span>&nbsp;&nbsp;Inicio de Sesión
                </a>
            </li>
        </ul>
    </div>
</nav>
{% for message in get_flashed_messages() %}
    <div class="alert alert-info alert-dismissible" id="alert-info">
        <button type="button" class="close" data-dismiss="alert">
            &times;
        </button>
        {{message}}
    </div>
{% endfor %}
{% endblock %} {% block content %}
<div class="tab-content">
    <div id="login" class="tab-pane active">
        <div class="container box_login">
            <div class="container icon-header">
                <span class="glyphicon glyphicon-check"></span>
                <p>TaskApp</p>
            </div>
            <div id="box_login_content">
                <p>Inicio de Sesión</p>
                <div class="container form_login">
                    {{ wtf.quick_form(login_form) }}
                    <div id="remember"><input type="checkbox">&nbsp;Recuérdame</div>
                    <div id="show_passwd"><input type="checkbox" id="show">&nbsp;Mostrar Contraseña</div>
                </div>
            </div>
        </div>
        <div class="container" id="login_help">
            <p>
                ¿No tienes Cuenta? <a href="#signup" data-toggle="tab" id="a_signup">Registrate</a>
            </p>
        </div>
    </div>
    <div id="signup" class="tab-pane fade">
        <div class="container signup-header">
            <div class="container icon-header">
                <span class="glyphicon glyphicon-check"></span>
                <p>TaskApp</p>
                <hr>
                <div class="container p-header">
                    <p>
                        <h2>Registro de Usuario</h2>
                    </p>
                </div>
            </div>
            <div id="signup_content">
                <div class="signup_login">
                    <form action="{{url_for('auth.signup')}}" method="post" name="signup_login" id="signup_login" class="was-validated">
                        <table>
                            <tbody>
                                <tr>
                                    <td>
                                        <div class="field_signup form-group">
                                            {{ wtf.form_field(signup_form.email, class="form-control", onblur="confirmation(document.getElementById('email'))") }}
                                            <div class="validate"></div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="field_signup">
                                            {{ wtf.form_field(signup_form.area, class="form-control") }}
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="field_signup">
                                            {{ wtf.form_field(signup_form.names, class="form-control", onblur="confirmation(document.getElementById('names'))") }}
                                            <div class="validate"></div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="field_signup">
                                            {{ wtf.form_field(signup_form.new_password, class="form-control", onblur="confirmation(document.getElementById('new_password'))") }}
                                            <div class="validate"></div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="field_signup">
                                            {{ wtf.form_field(signup_form.surnames, class="form-control", onblur="confirmation(document.getElementById('surnames'))") }}
                                            <div class="validate"></div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="field_signup">
                                            {{ wtf.form_field(signup_form.password_confirmation, class="form-control", onblur="confirmation(document.getElementById('password_confirmation'))") }}
                                            <div class="validate"></div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2">
                                        <div class="signup_submit">
                                            {{ wtf.form_field(signup_form.signup_submit) }}
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %} 
    {% block scripts %} 
        {{ super() }}
        <script type="text/javascript" src="{{ url_for('static', filename='js/login.js') }}"></script>
    {% endblock %} 
{% endblock %}